{% load i18n %}
{% block content %}
<div id="sessions">
    <h3> {% trans 'Sessioni' %} </h3>
    <div>
      {% trans 'Filtra per data' %}
      <input id="searchFrom" class="searchInput" type="date" placeholder="From"/>
      <input id="searchTo" class="searchInput" type="date" placeholder="To" >
    </div>
    
    <table id="sessions-table" class="table table-striped table-bordered table-sm" cellspacing="0">
        <thead>
          <tr>
            {% for th in theads %}
              <th class="th-sm">{{th}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                <td>{{session.name}}</td>
                <td class="date">{{session.login_date}}</td>
                <td>{{session.login_time}}</td>
                <td>{{session.logout_date}}</td>
                <td>{{session.logout_time}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}