<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Buongiorno {{ user.get_full_name }},</p>

<p>abbiamo ricevuto richiesta per resettare la password.</p>
<p>Clicca qui per inserire la nuova password da utilizzare:</p>
{% if not user_url %}
    https://{{ domain }}{% url 'user:reset_password' reset_token=token email=email %}
{% else %}
    <a href="{{user_url}}/{{user_token}}/{{email}}">{{user_url}}</a>

<p>Se invece non hai effettuato la richiesta, puoi ignorare questa mail.</p>


<p>Happy learning!</p>
{% endif %}
</body>
</html>