<html lang="en">
<head>
    <title>Confirm Password</title>
    <style>
        .body-main {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .confirm-password-div {
            width: 25%;
            margin: auto;
            height: 175px;
            display: flex;
            align-items: center;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.18);
        }
        .alert-error{
            color: red;
            font-size: 14px;
            width: 100%;
            text-align:center;
        }
    </style>
</head>
<body class="body-main">
<div class="confirm-password-div">
        <p class="alert-error" >{{Error}}</p>
</div>
</body>
</html>