<html lang="en">
<head>
    <title>Confirm Password</title>
    <style>
        .body-main {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .confirm-password-div {
            width: 25%;
            margin: auto;
            height: 175px;
            display: flex;
            align-items: center;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.18);
        }

        .confirm-password-div form {
            margin: 0;
            width: 100%;
        }

        .confirm-password-div form input {
            width: 100%;
            margin-bottom: 15px;
            height: 40px;
            padding: 0 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #eee;
            color: #000;
            font-size: 12px;
        }

        .confirm-password-div form button {
            background: #000;
            margin-top: 10px;
            color: #fff;
            border-radius: 4px;
            border: 1px solid #000;
            padding: 8px 15px;
            font-size: 12px;
            letter-spacing: 0.1em;
            cursor: pointer;
            transition: 0.3s ease all;
        }
        .alert-error{
            color: red;
            font-size: 14px
        }
        .alert-success{
            color: green;
            font-size: 14px;
        }

        .confirm-password-div form button:hover {
            background: transparent;
            color: #000000;
        }

        .w-100 {
            width: 100%;
        }
    </style>
</head>
<body class="body-main">
<div class="confirm-password-div">
    <form method="POST" action="{% url 'user:reset_password_backend' %}">
        <div class="w-100">
            <input aria-label="password" type="password" placeholder="Password" name="password" required="True"/>
        </div>
        <div class="w-100">
            <input aria-label="password" type="password" placeholder="Confirm Password" name="confirm_password"
                   required="True"/>
        </div>
        <div class="w-100">
            <input aria-label="email" type="hidden" name="email" value="{{email}}"/>
        </div>
        <div class="w-100">
            <input aria-label="token" type="hidden" name="token" value="{{token}}"/>
        </div>
        <div class="w-100">
            <input aria-label="token" type="hidden" name="scan" value=True/>
        </div>
        <button type="submit">Submit</button>
        <p class="alert-error" >{{Error}}</p>
        <p class="alert-success" >{{success}}</p>

    </form>
</div>
</body>
</html>