.bookingSuccess__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 15px;
    padding-bottom: 30px;
}

.bookingSuccess__desc {
    padding-top: 25px;
}

.bookingSuccess__img {
    width: 150px;
    height: 150px;
}