{% if not user.is_authenticated %}
    <div id="loading-customer">
        <h3>Please wait ....</h3>
    </div>
    <div class="contact-form" id="registration-customer-form">
        <h4 class="text-center">Ricordami di rinnovare la patente</h4>
            <form class="compact-form" action="{% url 'user:api-root' %}" id='registration-customer'>
                {% csrf_token %}
                {{ customer_form }}
                
                <button class="btn btn-success" data-loading-text="Pre-iscriviti...">Pre-iscriviti</button>
            </form>
        </div>
    </div>
{% endif %}
