<div id="fb-root"></div>
<script async defer crossorigin="anonymous" 
    src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v7.0" 
    nonce="kYxA4FiX">
</script>  
<div 
    class="fb-page" 
    data-href="{{instance.link}}" 
    data-tabs="timeline" 
    data-width="420px" 
    data-height="350px" 
    data-small-header="false" 
    data-adapt-container-width="true" 
    data-hide-cover="false" 
    data-show-facepile="true">
</div>