<div id="meet">
</div>
<script>
    const domain = "{{instance.domain}}";
    const roomName = "{{instance.room_name}}";
    const androidApp = "{{instance.android_app_package}}";
    const appScheme = "{{instance.app_scheme}}";
    const downloadLink = "{{instance.mobile_download_link_android}}";
</script>