<div id="widget" style="margin: 10px">
    <iframe id="calendar"
        title="calendar-frame"
        width="100%"
        height="700px"
        frameborder="0"
        scrolling="no"
        src="https://big-calendar-23.netlify.com">
    </iframe>
</div>