<div class="contact-form" id="login-form">
    <h3 class="text-center">Login</h3>
    <form action="/user/token_info/" id="login">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-success" data-loading-text="Login...">Login</button>
    </form>
</div>
