{% if not user.is_authenticated %}
    <div id="loading-registration">
        <h3>Please wait ....</h3>
    </div>
    <div class="contact-form" id="registration-form">
        <h3 class="text-center">Pre-iscriviti!</h3>
        <form action="{% url 'user:api-root' %}" id="registration">
            {% csrf_token %}
            {{ user_form }}
            <button class="btn btn-success" data-loading-text="Pre-iscriviti...">Pre-iscriviti</button>
        </form>
    </div>
{% endif %}
