{% load i18n static %}
<div class="cms-toolbar-item"><a href="/" title="{{ cms_version }}"><span><img style="height: 45px;padding-left: 15px; padding-top: 5px" src="{% static 'img/logo1.jpg' %}"></span></a></div>
