{% extends "_cms/base.html" %}
{% load static i18n cms_tags sekizai_tags menu_tags %}

{% block head %}
    <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/theme_ait.css' %}">
    <link rel="stylesheet" href="{% static 'css/wrap_text.css' %}">
{% endblock %}

{% block main %}
    {% placeholder calendar %}
{% endblock %}

{% block script %}
    <!-- Take note of the version...should be the same as the zoid version on the react-widget -->
    <script src="https://unpkg.com/zoid@9.0.28/dist/zoid.min.js"></script>
    <script src="https://unpkg.com/zoid@9.0.28/dist/zoid.frameworks.min.js"></script>
    
    <script type="text/babel">

        //Style Config
        //Each of these variables are attached to properties inside the widget
        //Leave blank to use default which is 750px
        // const calendarHeight = "";

        const calendarHeight = "700px"

        // create an iframe with configs
        let MyWidget = zoid.create({
            tag: 'my-widget',
            url: 'https://big-calendar-23.netlify.com/',
            dimensions: {
                width: '100%',
                height: calendarHeight
            },
            props: {
                // Define schema: height variable
                calendarHeight: {
                    type: 'string'
                },
            },
        })
        // generate a zoid framework driver to render a react app
        // requires zoid.frameworks.js
        let MyReactWidget = MyWidget.driver('react', {
                React: React,
                ReactDOM: ReactDOM
            });

        ReactDOM.render(<MyReactWidget calendarHeight={calendarHeight}/>, document.querySelector('#widget'));
            
    </script>
{% endblock %}