{% extends "_cms/base.html" %}
{% load static i18n cms_tags sekizai_tags menu_tags %}
{% block head %}
    <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/theme_ait.css' %}">
    <link rel="stylesheet" href="{% static 'css/wrap_text.css' %}">
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui.css' %}">
{% endblock %}
{% block main %}
    <div class="container-fluid">
        <div class="content row">
            <div class ='flex-container'>
                <div class="flex-item brand-image-big">
                    {% placeholder "banner" %}
                </div>
                <div class="forms">
                    {% placeholder "registration-form" %}
                    {% placeholder "customer-form" %}
                </div>
            </div>
        </div>
        <div class="content row">
            <div class="col-sm-9">
                {% placeholder "content" %}
            </div>
        </div>
        <div class="content row">
            <div style="text-align:center;">
            <div id="fb-root"></div>
                {% placeholder Facebook %}
            </div>
        </div>
        <div class="content row">
            <div class="footer">
                © 2014 Copyright by Autoscuola demo 1
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <!-- jQuery -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script 
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
        crossorigin="anonymous">
    </script>
    <script src="{% static 'jquery/jquery-ui.min.js' %}"></script>
    <!-- Javascript Cookie library -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    <script src="{% static 'js/legacy/forms.js' %}"></script>
{% endblock %}         