{% extends "_cms/base.html" %}
{% load static i18n cms_tags sekizai_tags menu_tags %}

{% block head %}
    <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/theme_ait.css' %}">
    <link rel="stylesheet" href="{% static 'css/wrap_text.css' %}">
{% endblock %}

{% block main %}
    <!-- Main Content -->
    <div class="page-content-wrapper">  
        <div class="content">
            {% placeholder "content" %}
        </div>
        <div class="gallery-wrapper">
        </div>
    </div>
    <div class="footer">
        © 2014 Copyright by Autoscuola demo 1
    </div>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" 
        integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" 
        crossorigin="anonymous"></script>
    <script>
        $(".searchInput").on("input", function() {
            var from = new Date($("#searchFrom").val());
            var to = new Date($("#searchTo").val());
            console.log(from)
            $("#sessions-table tr").each(function() {
                var row = $(this);
                var date = new Date(row.find(".date").text());
                //show all rows by default
                console.log(date)
                var show = true;
                //if from date is valid and row date is less than from date, hide the row
                if (from && date < from) show = false;
                //if to date is valid and row date is greater than to date, hide the row
                if (to && date > to) show = false;
                if (show) row.show();
                else row.hide();
            });
        });
        //parse entered date. return NaN if invalid
        function stringToDate(s) {
            var ret = NaN;
            var parts = s.split("/");
            date = new Date(parts[2], parts[1], parts[0]);
            if (!isNaN(date.getTime())) {
                ret = date;
            }
            return ret;
        }
    </script>
{% endblock %}