{% extends "_cms/base.html" %}
{% load static i18n cms_tags sekizai_tags menu_tags %}

{% block head %}
    <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/theme_ait.css' %}">
    <link rel="stylesheet" href="{% static 'css/wrap_text.css' %}">
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui.css' %}">
{% endblock %}

{% block main %}
    <!-- Main Content -->
    <div class="" style="height: 800px">
        {% placeholder "content" %}
    </div>
{% endblock %}