/* Common style .*/
body {
    background-image: url("../i/texturetastic_gray.png");
    /*background: url("../i/bg.jpg") repeat-x scroll center top #000;*/
}

.container {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    padding-left: 0px;
    padding-right: 0px;
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-nav li.active h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: #fff;
    color: #000;
    text-decoration: underline;
}

.navbar-brand {
    line-height: 110px;
    height: 110px;
    padding-top: 0;
    padding-left: 0;
}

.navbar-nav > li {
    max-width: 140px;
    line-height: 110px;
    height: 110px;
    display: table;
}

.navbar-nav li a {
    display: table-cell;
    word-wrap: break-word;
    text-align: center;
    padding-top: 0;
    vertical-align: middle;
}

.navbar-brand img {
    max-width: 300px;
    height: 80px;
    width: auto;
}
.navbar-toggle {
    line-height: 60px;
    height: 60px;
    margin-right: 0;
}

.navbar .navbar-toggle .icon-bar {
    background-color: black;
}

.content {
    padding-top: 0px;
}

.footer {
    background-color: #222;
    height: 60px;
    line-height: 60px;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    color: #777;
}

.compact-form .form-control-feedback {
    top: 0;
}

/* Index page */
.flex-container {
    height: 100%;
    padding: 0;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    width: auto;
}
.flex-item {
    margin: auto;
    text-align: center;
}

.main-top {
    position: relative;
    margin-bottom: 50px;
}

.brand-image-big {
    max-width: 100% !important;
    height: auto !important;
    display: block;
    margin: auto;
}

.forms {
    position: absolute;
    top: 200px;
    right: 10%;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.3);
}

.login-form {
    bottom: 50px;
    right: 40%;
}

.contact-form {
    position: relative;
    background-color: #fff;    
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.contact-form h3 {
    margin-bottom: 20px;
}

.contact-form button {
    width: 100%;
}

.contact-form  input {
    box-shadow: none;
}

.post-email {
    width: 100%;
    position: absolute;
    display: table;
    background-color: #fff;
    text-align: center;
    top: 0;
    left: 0;
}

.post-email span {
display: table-cell;
  vertical-align: middle;
  text-align: center;
    font-weight: bold;
    font-size: 18px;
}

@media(max-width: 768px) {
    .form-wrapper {
        position: static;
        bottom: 0;
        right: 0;
        width: 100%;
    }
}

@media(max-width: 992px) {
    .form-wrapper {
        position: static;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .navbar-nav > li {
        max-width: inherit;
        line-height: inherit;
        height: auto;
        display: block;
        width: 100%;
    }
    .navbar-nav li a {
        text-align: left;
        padding: 5px;
    }
}

.facebook-iframe {
    border:none;
    overflow:hidden;
    width: 100%;
    height:420px;
}


/* About us */

.img-wrapper {
    /*margin-top: -50px;*/
    margin-bottom: 20px;
    text-align: center;
}

.img-wrapper img {
    margin: auto;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 2px;
}


/* Contacts */

.map-wrapper {
    margin: 50px auto 0px auto;
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
}

/* Quiz */
.quizframe {
    width: 100%;
    height: 600px;
    border: 0;
}


/* Cars */

.gallery-wrapper a {
    padding: 2px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 150px;
}

.gallery-wrapper img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}


/* Booking */
#bookDialog table tr:first-child td {
  border-top: none;
}

.booking #msgDialog #txt {
  text-align: center;
}

#sessions {
    width: 80%;
    position: relative;
    margin: 0 auto;
}
#dataTable thead {
    display: none;
  }