.mashed {
    max-height: 80px;
    overflow: hidden;
    position: relative;
    display: block;
    line-height: 20px;
}

.mashed::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%);
    content: '\200C';
    display: block;
    position: absolute;
    right: 0;
    top: 60px;
    width: 25%;
    text-align: center;
}

.inner {
    padding: 0;
    margin: 0;
}
