{% load static i18n cms_tags sekizai_tags menu_tags %}
{% page_attribute "page_title" as title %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Bootstrap -->
        <link 
            rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
            crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/theme_ait.css' %}">
        <link rel="stylesheet" href="{% static 'css/wrap_text.css' %}">

        <!-- django CMS -->
        {% render_block "css" %}

        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <!-- django CMS Toolbar -->
        {% cms_toolbar %}
        
        <div class="container ">
            <!-- django CMS Toolbar -->
            {% cms_toolbar %}
    
            <div class="container ">
                 <!-- Navigation -->
                <nav class="navbar page-top" role="navigation">
                    <div class="navbar-header" style="margin-top: 34px">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#page-navbar">
                            <span class="sr-only"> Cambia visualizzazione</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            {% placeholder "brand" %}
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="page-navbar">
                        <ul class="nav navbar-nav" style="display: flow-root; float: initial; font-weight: bold">
                            {% show_menu 0 100 100 100 '_cms/partials/navigation.html' %}
                        </ul>
                    </div>
                </nav>
                <div id="notice" role="alert">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="page-content-wrapper">
                    <div class="main-top">
                        <img class="brand-image-big" src="{% static 'img/main.jpg' %}">
                        <div class="form-wrapper login-form">
                            <div class="contact-form" id="registration-form">
                                <h3 class="text-center">Login!</h3>
                                <form class="compact-form" method="post" action="{% url 'login' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="username"> Email or username </label>
                                        {{ form.username }}
                                    </div>
                                    <div class="form-group">
                                        <label for="username"> Password </label>
                                        {{ form.password }}
                                    </div>
                                    <input class="btn btn-success" type="submit" value="login">
                                    <input type="hidden" name="next" value="{{ next }}">
                                </form>
                            </div>
                        </div>
                    </div>            

        {% block body %}
        {% endblock %}

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'jquery/jquery.min.js' %}"></script>
        <script src="{% static 'jquery/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
         <!-- django CMS -->
        {% render_block "js" %}
    </body>