{% if not user.is_authenticated %}
    <div class="form-wrapper">
        <div id="loadingDiv">
            <h4>Please wait ....</h4>
        </div>
        <div class="contact-form" id="registration-form">
            <h3 class="text-center">Pre-iscriviti!</h3>
            <form action="{% url 'user:api-root' %}" id="registration">
                {% csrf_token %}
                <div class="form-group">
                    <input autofocus="autofocus" class="form-control" id="id_first_name" name="first_name" placeholder="nome" type="text" value="">
                </div>
                <div class="form-group">
                    <input class="form-control" id="id_last_name" name="last_name" placeholder="surname" type="text" value="">
                </div>
                <div class="form-group">
                    <input class="form-control" id="id_email" name="email" placeholder="email" type="email" value="">
                </div>
                <button type="submit" class="btn btn-success" data-loading-text="Pre-iscriviti..."> Pre-iscriviti</button>
            </form>
        </div>
    </div>
{% endif %}
