// .modal__outer {
//     width: 100%;
//     height: 100%;
//     position: fixed;

//     z-index: 1000;
// }


.modal__backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0,0,0, .85);
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

}

.modal__container {
    position: fixed;
    z-index: 1100;

    width: 400px;
    max-height: 1000px;
    padding: 25px 30px;
    border-radius: 5px;
    background-color: #fff;
}

.modal__closeBtn {
    // border: 1px solid #ccc;
    padding: 10px;

    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.modal__closeIcon {
    // border: 1px solid #ccc;
    width: 20px;
    height: 20px;
    fill: #4d4d4d;
    pointer-events: none;
    // margin-right: 10px;
}

.modal__content {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.modal__contentBody {
    flex: 2;
    // border: 1px solid #ccc;

    &--container {
        display: flex;
        align-items: center;

        padding: 8px 0;
    }

    &--identifier {
        // font-size: 18px;
        font-weight: 500;
        min-width: 100px;
    }

    &--text {
        
    }

    &--booking {
        margin-bottom: 25px;
    }
}

.modal__bookingCont {

    margin: 10px 0;
    display:block;

    & > input {
        width: 100%;
        padding: 9px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        outline: none;
        border-width: thin;

        &:focus {
            outline: none;
        }
    }

    // & > input:-webkit-autofill {
    //     -webkit-box-shadow: 0 0 0px 1000px #b3d1ff inset;
    //     border-width: thin;
    // }

    &--label {
        display: flex;
        // justify-content: space-between;
        align-items: center;
    }

    &--label > label {
        display: inline-block;
        padding-bottom: 5px;
        margin-right: 15px;
        cursor: pointer;
    }
    
}

.modal__inputInvalid {
    border: 1px solid #FF9494 !important;
}

.modal__contentHeader {
    font-size: 23px;
    text-align: center;

    margin-bottom: 20px;
}

.modal__contentBtn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #4d94ff;
    color: #fff;
    padding: 15px;
    line-break: 110%;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background-color: #66a3ff;
    }

    &--icon {
        width: 20px;
        height: 20px;
        fill: #fff;
        padding-top: 2px;
        margin-left: 15px;

    }
}

.modal__contentBtn2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #5cb85c;
    color: #fff;
    padding: 15px;
    line-break: 110%;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background-color: #71c171;
    }

    &--icon {
        width: 20px;
        height: 20px;
        fill: #fff;
        padding-top: 2px;
        margin-left: 15px;

    }
}
