{% extends "_cms/base.html" %}
{% block body %}
    <form>
        <div class="form-group">
        <label for="videoconf-domain" class="col-sm-2 col-form-label">Videoconf domain</label>
        <input type="url" class="form-control" id="videoconf-domain" placeholder="url">
        <button type="submit">Update</button>
    </form>
{% endblock %}